## Url on which packagecloud will be reachable.
external_url 'https://packages.gitlab.com'

## The following settings are mandatory for a working installation:
##
##      1.) packagecloud:enterprise license key
##      2.) GPG keys
##      3.) AWS credentials
##      4.) Mailer settings
##

## License key settings
##
##
## Replace 'your-license-key' with your enterprise license key.
## Replace 'your-api-token' with your packagecloud.io API token (https://packagecloud.io/api_token).
##
## Please contact enterprise@packagecloud.io if you need help retreiving your
## enterprise license key.
##
packagecloud_rails['enterprise_license_key'] = "<%= @packagecloud_rails_enterprise_license_key %>"
packagecloud_rails['api_token'] = "<%= @packagecloud_rails_api_token %>"

## GPG key settings
## if you want packagecloud to generate a key for you, skip to the next section.
##
## if you already have a GPG key you'd like to use:
##
##     change the follow settings:
##        generate_key: when set to false this will prevent packagecloud from
##                      generating a key for
##
##        key_directory: set to the directory where the gpg key you want to use
##                       resides
##
##
##
packagecloud_gpg['generate_key'] = false
packagecloud_gpg['key_directory'] = "/etc/packagecloud/gpgkey"

##
## GPG key generation settings
##
## Change these values so they are relevant for your company
##
packagecloud_gpg['realname'] = "GitLab B.V."
packagecloud_gpg['comment'] = "package repo key"
packagecloud_gpg['email'] = "packages@gitlab.com"
packagecloud_gpg['expire_date'] = "0"
packagecloud_gpg['length'] = "4096"

##
## Resque worker count
##
## The more workers, the faster indexing will occurr after uploading a
## package, but also more memory will be required for workers to run.
##
## You shoudln't need more than 6 resque workers and many users will be
## fine with just 1.
##
resque['index_worker_count'] = <%= @resque_index_worker_count %>
resque['delete_worker_count'] = <%= @resque_delete_worker_count%>

## AWS settings
##
##  NOTE: It is recommended that you create an IAM user and specify the exact
##        access policy you want.
##
##  !!! You MUST choose a bucket name and fill in the value below for
##      'aws_repo_bucket_name'
##
##  !!! If you set aws_create_bucket to true please ensure your IAM user has
##      sufficient access rights to create buckets.
##
packagecloud_rails['aws_access_key'] = "<%= @packagecloud_rails_aws_access_key %>"
packagecloud_rails['aws_secret_key'] = "<%= @packagecloud_rails_aws_secret_key %>"
packagecloud_rails['aws_create_bucket'] = false
packagecloud_rails['aws_repo_bucket_name'] = "packages-gitlab-com"
packagecloud_rails['aws_region'] = "us-east-1"
<% if @packagecloud_rails_aws_host %>
packagecloud_rails['aws_host'] = "<%= @packagecloud_rails_aws_host%>"
<% end %>

packagecloud_rails['cloudfront_enabled'] = "<%= @packagecloud_rails_cloudfront_enabled %>"
<% if @packagecloud_rails_cloudfront_enabled %>
packagecloud_rails['cloudfront_secret'] = "<%= @packagecloud_rails_cloudfront_secret %>"
packagecloud_rails['cloudfront_distribution_id'] = "<%= @packagecloud_rails_distribution_id %>"
packagecloud_rails['cloudfront_packages_domain'] = "<%= @packagecloud_rails_cloudfront_packages_domain %>"
<% end %>

packagecloud_rails['user_seed_file'] = '/etc/packagecloud/users.yml'

## Mailer settings
smtp['reply_to'] = "packages@gitlab.com"
smtp['from'] = "packages@gitlab.com"
smtp['address'] = "email-smtp.us-east-1.amazonaws.com"
smtp['domain'] = "gitlab.com"
smtp['port'] = 587
smtp['authentication'] = "plain"
smtp['enable_starttls_auto'] = true
smtp['user_name'] = "<%= @smtp_user_name %>"
smtp['password'] = "<%= @smtp_password %>"

## Backup settings
backups['database_backup'] = true
backups['config_backup'] = false
backups['local_backup_path'] = "/var/opt/packagecloud/backups"
backups['remote_backup_path'] = "backups"
backups['s3_upload'] = true
backups['keep_num'] = "<%= @packagecloud_rails_backup_keep_num %>"
backups['frequency'] = 86400 # 24 hours
backups['aws_access_key'] = "<%= @packagecloud_rails_aws_access_key %>"
backups['aws_secret_key'] = "<%= @packagecloud_rails_aws_secret_key %>"
backups['aws_create_bucket'] = false
backups['aws_bucket_name'] = "gitlab-packagecloud-db-backups"
backups['aws_region'] = "us-east-1"
backups['use_xbstream'] = <%= @packagecloud_rails_backup_xbstream %>
backups['backup_threads'] = <%= @packagecloud_rails_backup_threads %>

## SSL Settings
##
## By default, SSL is disabled. Before enabling SSL, you will need to obtain an
## SSL certificate and key.
##
## This option enables SSL
##
packagecloud_rails['packagecloud_https'] = true
packagecloud_rails['packagecloud_port'] = 443
##
## The full path to your SSL certificate
##
nginx['ssl_certificate'] = "/etc/packagecloud/ssl/server.crt"
##
## The full path to your SSL private key
##
nginx['ssl_certificate_key'] = "/etc/packagecloud/ssl/server.key"
##
## This next option instructs NGINX to redirect plain-text connections to SSL
## automatically.
##
## If using SSL, this option is highly recommended.
##
nginx['redirect_http_to_https'] = true
nginx['ssl_protocols'] = "<%= @nginx_ssl_protocols %>"
nginx['ssl_ciphers'] = "<%= @nginx_ssl_ciphers %>"
nginx['proxy_read_timeout'] = 3600 # 60 minutes
nginx['custom_packagecloud_server_config'] = "<%= @nginx_custom_packagecloud_server_config %>"
nginx['client_max_body_size'] = "<%= @nginx_client_max_body_size %>"
nginx['listen_addresses'] = %w{* [::]}

## Logrotate Settings
##
## How many logs to keep around
##
## logging['logrotate_rotate'] = 30
##
## Compress rotated logs
##
## logging['logrotate_compress'] = "compress" # see 'man logrotate'
##
## Logrotate method (see 'man logrotate')
##
## logging['logrotate_method'] = "copytruncate" # see 'man logrotate'
##
## Rotate based on frequency, like "daily", or, nil to rotate only on size
##
## logging['logrotate_frequency'] = nil
##
## Rotate based on size
##
## logging['logrotate_size'] = "100M"


unicorn['worker_timeout'] = <%= @unicorn_worker_timeout %>
unicorn['worker_processes'] = <%= @unicorn_worker_processes %>

rainbows['worker_processes'] = <%= @rainbows_worker_processes %>
